altgraph==0.17.2
appnope==0.1.2
backcall==0.2.0
certifi==2023.7.22
chardet==4.0.0
decorator==5.1.1
idna==3.3
ipykernel==6.9.0
ipython==8.10.0
ipython-genutils==0.2.0
jedi==0.18.1
jupyter-client==7.1.2
jupyter-core==4.11.2
macholib==1.15.2
numpy==1.22.2
packaging==21.3
pandas==1.4.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.27
ptyprocess==0.7.0
Pygments==2.11.2
PyInstaller==4.9
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
pyzmq==22.3.0
requests==2.27.1
six==1.16.0
tabulate==0.8.9
tornado==6.1
traitlets==5.1.1
urllib3==1.26.8
wcwidth==0.2.5
yaspin==2.1.0
